.popup-changeAdres {
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     width: 620px;
     height: 305px;
     margin-left: -310px;
     margin-top: -152.5px;
     background-color: #293449;
     z-index: 20;
}
.popup-changeAdres__layer {
     display: none;
     background-color: #000;
     opacity: 0.5;
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     z-index: 19;
}
.popup-changeAdres__container {
     width: 499px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -ms-flex-wrap: wrap;
         flex-wrap: wrap;
     margin: 79px auto 28px auto;
}
.popup-changeAdres__text {
     width: 100%;
     font-family: Cuprum;
     font-weight: 400;
     font-size: 40px;
     line-height: 45px;
     letter-spacing: 3px;
     text-align: center;
     color: #fff;
     margin-bottom: 62px;
     text-transform: uppercase;
}
.popup-changeAdres__button {
     width: 150px;
     height: 45px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
         -ms-flex-pack: center;
             justify-content: center;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     color: fff;
     font-family: Cuprum;
     font-weight: 400;
     font-size: 20px;
     line-height: 18px;
     letter-spacing: 3px;
     background-color: #00A0CF;
     border: none;
     text-transform: uppercase;
     cursor: pointer;
}
.popup-changeAdres__button-wrapper {
     width: 389px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between;
}

.popup-changePassword__access {
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     width: 620px;
     height: 305px;
     margin-left: -310px;
     margin-top: -152.5px;
     background-color: #293449;
     z-index: 20;
}

.popup-changePassword__fail {
     display: none;
     position: fixed;
     top: 50%;
     left: 50%;
     width: 620px;
     height: 305px;
     margin-left: -310px;
     margin-top: -152.5px;
     background-color: #293449;
     z-index: 20;
}